<% content_for :layoutType do %>menubar-hoverable header-fixed <% end %>
<% provide(:title, 'Edit User') %>
<div class="row">
  <h1>Update your profile</h1>
  <div class="span6 offset3">
    <%= form_for(current_user) do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, :class => "form-control"%>
        </div>
            
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, :class => "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, :class => "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation, :class => "form-control"%>
        </div>

        <div class="form-group">
          <%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>
        </div>
    <% end %>
  </div>
</div>