<%= stylesheet_link_tag    "login", media: "all" %>
<div class="materialContainer">
    <form autocomplete="off" class="box">
    	 <input autocomplete="false" name="hidden" type="text" style="display:none;">
        <div class="title">LOGIN</div>
        <div class="input">
            <label for="name">Username</label>
            <input type="text" name="name" id="name" autocomplete="off">
            <span class="spin"></span>
        </div>
        <div class="input">
            <label for="pass">Password</label>
            <input type="password" name="pass" id="pass" autocomplete="off">
            <span class="spin"></span>
        </div>
        <div class="button login">
            <button><span>GO</span> <i class="fa fa-check"></i></button>
        </div>
    </form>
    <div class="overbox">
    	<%= form_for(@user) do |f| %>

        <div class="material-button alt-2"><span class="shape"></span></div>
        <div class="title">LOGIN</div>
        <div class="input">
      		<%= f.label :name %>
      		<%= f.text_field :name, :autocomplete => "off" %>
            <!-- <label for="regname">Name</label>
            <input type="text" name="regname" id="regname"> -->
            <span class="spin"></span>
        </div>
        <div class="input">
            <%= f.label :email %>
      		<%= f.text_field :email %>
            <!-- <label for="regname">Email</label>
            <input type="text" name="regname" id="regname"> -->
            <span class="spin"></span>
        </div>
        <div class="input">
            <%= f.label :password %>
      		<%= f.password_field :password %>
            <!-- <label for="regpass">Password</label>
            <input type="password" name="regpass" id="regpass"> -->
            <span class="spin"></span>
        </div>
        <div class="input">
            <%= f.label :password_confirmation, "Confirmation" %>
      		<%= f.password_field :password_confirmation %>
            <!-- <label for="reregpass">Repeat Password</label>
            <input type="password" name="reregpass" id="reregpass"> -->
            <span class="spin"></span>
        </div>
        <div class="button">
            <%= f.submit "Create my account", class: "" %>
        </div>
    <% end %>
    </div>
</div>